# WARNING! Do not change the list above, so no data source will be uploaded to your repository. 
# This is a commitment established between Inteli and its project partners regarding data protection.
# 
*.csv
*.xls
*.xlsx
*.tsv
*.db
*.sql
